fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-openai
langchain-cohere
langchain-text-splitters
langchain-core
langchain-groq
langchain-google-genai
chromadb
pymupdf
python-dotenv
groq
cohere
tiktoken