fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-openai
langchain-groq
langchain-core
langchain-text-splitters
chromadb==0.4.24
pymupdf
python-dotenv
openai
tiktoken
sentence-transformers
cohere
langchain-cohere